<%- include('../partials/header', {title:"index"}) -%>


<div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
  <br>
    <h1>Email Remind</h1>
    <br>
    <br>
    <p>Get notified via email about the things you need to remember<p>
</div>

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
            </div>
        </div>
    </div>
</div>
