<%- include('../partials/header', {title:"setReminder"}) -%>
<%- include('../partials/navbar', {title:"setReminder"}) -%>


<script src="https://smtpjs.com/v3/smtp.js"></script>
<script type="text/javascript">
  function sendEmail() {
    Email.send({
      Host: "smtp.gmail.com",
      Username : "emailremind1@gmail.com",
      Password : "remind123",
      To : 'ryan.mcgranahan22@trinityschoolnyc.org',
      From : "emailremind1@gmail.com",
      Subject : "subject of email",
      Body : "body of email",
    })
    .then(function(message){
      alert("mail sent successfully")
    });
  }
</script>

    <h1>Remind Yourself</h1>
<form action="/setReminder" method="POST">
    <div class="dropdown">

<div class="button2">
<h3> Date<h3>

  <input type="date" id="date" name="date" value="2022-03-11" min="2022-03-011" max="2026-12-31">


</div>
<br>

<div class="button3">
<br>
<h3> Time<h3>

  <input type="time" id="time" name="time" value="12:00" min="00:00" max="24:00" required>

</div>
<br>
<br>



  <label for="subject">&nbsp&nbspSubject:</label>
  <input type="text" id="subject" name="subject" value=""><br>
  <label for="message">Message:</label>
  <input type="text" id="message" name="message" value=""><br>
  <br>
<input type="submit" value="Set Reminder" onclick="sendEmail()">
  </form>
