<%- include('../partials/header', {title:"setReminder"}) -%>
<%- include('../partials/navbar', {title:"setReminder"}) -%>

    <h1>Remind Yourself</h1>

    <div class="dropdown">


  <div class="button2">
<h3> Date<h3>

<select name="date" id="date">
  <option value="Mon, Mar 7th">Mon, Mar 7th</option>
  <option value="Tue, Mar 8th">Tue, Mar 8th</option>
  <option value="Wed, Mar 9th">Wed, Mar 9th</option>
  <option value="Thu, Mar 10th">Thu, Mar 10th</option>
</select>
</div>
<br>
<div class="button3">
  <br>
<h3> Time<h3>

  <select name="time" id="time">
    <option value="1pm">1pm</option>
    <option value="2pm">2pm</option>
    <option value="3pm">3pm</option>
    <option value="4pm">4pm</option>
  </select>

</div>
<br>
<br>


<form action="/setReminder" method="POST">
  <label for="subject">&nbsp&nbspSubject:</label>
  <input type="text" id="subject" name="subject" value=""><br>
  <label for="message">Message:</label>
  <input type="text" id="message" name="message" value=""><br>
  <br>
  <input type="submit" value="Set Reminder">
  </form>

</div>
